node_modules
.DS_Store
npm-debug.log
tools/test_coverage
.vs/
.vscode/
*.sln
*.xcodeproj
*.csproj
*.user
*.DS_Store
.idea
.iml
.tern-project
retail-client-release.jar
pom
yarn.lock
cordova/app/platforms/
cordova/app/plugins/
cordova/app/build
cordova/apk/
cordova/app/application
cordova/app/google-services.json
application-*.zip
yarn-error.log
electron/CORREQTS*
*.sublime-project
retail-client-release.war
retail-client-release-sources.zip
*.sublime-workspace
coverage
